#link4 {
    color: #00ADB5;
}

.divMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    /*flex: 1;*/
    color: rgba(255, 255, 255, 0.5);
}

.divContainer {
    flex: 5;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.destination {
    text-shadow: #222831 2px 2px 2px;
    color: white;
    text-align: center;
    flex: 1;
}

.destination img {
    width: 60%;
    border-radius: 50px;
    border: 5px solid #222831;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.destination img:hover {
    transform: scale(1.2);
}

.description {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 1024px) {
    .title {
        font-size: xx-large;

    }

    .divContainer {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .destination {
        flex: 1 1 calc(50% - 20px);
        text-align: center;
    }

    .destination img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .title {
        height: 10px;
    }

    .divContainer {
        flex-direction: column;
        align-items: center;
    }

    .destination {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .destination img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .divContainer {
        flex-direction: row;
        flex: 11;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    #destination1, #destination2, #destination3 {
        flex: 1 1 90%;
        text-align: center;
    }

    .destination img {
        width: 80%;
        max-width: 300px;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
    }

    .title {
        height: 40px;
        font-size: larger;
        text-align: center;
        margin-bottom: 20px;
    }

    .description {
        font-size: 0.9rem;
        margin-top: 5px;
        text-align: center;
    }
}
