/* Highlight active link */
#link3 {
    color: #00ADB5;
}

/* Fade effect class */
.fade {
    display: inherit;
}

/* The switch - the box around the slider */
.switch {
    margin: 1%;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.divContent {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.divInfo {
    flex: 4;
    width: 50%;
    height: 200px;
    display: none;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: opacity 0.5s ease;
    min-height: 350px;
}

.divInfo.active {
    display: flex;
    opacity: 1;
}

.imgP1, .imgP2, .imgP3, .imgP4 {
    border: 5px #222831 solid;
    width: 30%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.imgP4, .imgP3, .imgP2, .imgP1 {
    height: 250px;
    width: 250px;
}

.pPE, .pPP {
    color: white;
    width: 50%;
    margin-top: 10px;
    font-family: "B Nazanin", "B Esfehan", serif;
}


.dotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin-top: 1px;
}

.divDot {
    width: 10px;
    height: 10px;
    background-color: dimgray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.divDot:hover {
    background-color: #00ADB5;
}

.divMain {
    padding-left: 1%;
}

.spnLang {
    margin-left: 10px;
    margin-top: -10px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

@media only screen and (max-width: 1024px) {


    .divInfo {
        width: 50%;
        height: 50%;
        margin: 2%;
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imgP1, .imgP2, .imgP3, .imgP4 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .pPE, .pPP {
        height: 50px;
        font-size: medium;
    }

    .dotContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5%;
    }

    .divDot {
        width: 5px;
        height: 5px;
        background-color: dimgray;
        border-radius: 50%;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 768px) {


    .divInfo {
        width: 80%;
        height: 70%;
        margin: 1%;
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imgP1, .imgP2, .imgP3, .imgP4 {
        width: 500px;
        height: 500px;
        border-radius: 50%;
    }

    .pPE, .pPP {
        font-size: xx-large;
        height: 250px;
    }

    .dotContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }

    .divDot {
        width: 10px;
        height: 10px;
        background-color: dimgray;
        border-radius: 50%;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 480px) {

    .title{
        font-size: large;
    }

    .divInfo {
        width: 70%;
        height: 80%;
        margin: 1%;
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pPE, .pPP {
        height: 150px;
        font-size: large;
    }

    .imgP1, .imgP2, .imgP3, .imgP4 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .dotContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }

    .divDot {
        width: 10px;
        height: 10px;
        background-color: dimgray;
        border-radius: 50%;
        margin-left: 5px;
    }
}

.title {
    color: gray;
    text-align: center;

}