#link4 {
    color: #00ADB5;
}

.divMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    flex: 1;
    color: white;
    /*margin-bottom: 200px;*/
}

.divContainer {
    flex: 5;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.destination {
    text-shadow: #222831 2px 2px 2px;
    color: white;
    text-align: center;
    flex: 1;
}

.destination img {
    width: 60%;
    border-radius: 50px;
    border: 5px solid #222831;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.destination img:hover {
    transform: scale(1.2);
}

.description {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}
